{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    Remember password
{% endblock %}
{% block body %}
    {{ parent() }}

    {#<h1>{{ 'Login'|trans }}</h1>#}
    {{ form(form) }}
{% endblock %}