{% extends 'base.html.twig' %}

{% block title %}
    404 - Not Found
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="col-md-12">
        <b>404 - Not Found</b>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}