{% extends 'base.html.twig' %}

{% block title %}
    Error - Not Found
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="col-md-12">
        <b>Error - Not Found</b>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}