{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3 col-xs-5 col-xs-offset-3 footer-nav">
                    2016 © TODO Manager
                    <a href="#" title="version">{{ 'Version'|trans }}</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}