{# src/Pakiet/TaskBundle/Resources/views/Labels/add.html.twig #}
{% extends 'PackageTaskBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}