{% extends "PackageUserBundle:Email:base.html.twig" %}

{% block content %}
    <a>Aby aktywować konto kliknij w link poniżej:</a>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
{% endblock %}