{% extends "PackageUserBundle:Email:base.html.twig" %}

{% block content %}
    <a>{{ 'To activate your account click on the link below'|trans }}:</a>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
{% endblock %}