{% block content %}
<a>
    Dostaliśmy prośbę o zresetowanie hasła do Twojego konta.
    Poniżej znajduje się link, dzięki któremu możesz tego dokonać.
</a>
<a href="{{ resetUrl }}">{{ resetUrl }}</a>
{% endblock %}