{# src/Pakiet/TaskBundle/Resources/views/Priorities/add.html.twig #}
{% extends 'PackageTaskBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <h1>Priorities add!</h1>
        {{ form(form) }}
    </div>
{% endblock %}