{# src/Pakiet/TaskBundle/Resources/views/Status/add.html.twig #}
{% extends 'PakietTaskBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}