{# src/Pakiet/TaskBundle/Resources/views/Task/add.html.twig #}
{% extends 'PakietTaskBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Task add!</h1>
        {{ form(form) }}
    </div>
{% endblock %}