{% extends 'PackageDefaultsBundle::base.html.twig' %}

{% block title %}
    {{ 'Main pages'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>{{ 'Main pages'|trans }}</h1>
{% endblock %}